<h2>Comment from <%=@user.name%></h2>

<div class='user'>

    <%= render 'partials/user', user: @user %>

    <div class='bio'>
        <p><%= @user.bio %></p>
    </div>

    <ul class='comment'>
        <% @user.most_recent_posts.each do |post| %>
            <a href='/users/<%= @user.id %>/post/<%= post.id %> '>
                <%= render 'partials/post', post: post %>
            </a>
        <% end %>
    </ul>

    <button class='load-btn'> Load More </button>

</div>