<h1>Create Post</h1>
<%= form_with model: @post, url: user_posts_path, method: :post, local: true, scope: :new_post do |f| %>
  <div class='post-form'>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
    <button class='submit-btn btn'>
    <%= f.submit %>
  </button>
<% end %>